<section class="banner">
  <div class="banner-content">
      <h2>Looking for a vehicle? You're at the right place.</h2>
      <p>Choose between 100’s of private cars for rent at really low prices!</p>
      <button class="btn primary-btn">Find a Rental Car Near You</button>
  </div>
  <div class="banner-content">
      <h2>Are you a car owner?</h2>
      <p>List your car and make money from your asset today!</p>
      <button class="btn secondary-btn">List Your Car Today</button>
  </div>
</section>
